
}
h1#site-title
{color: blue;
  font-family: verdana;


  h1#article-title
 font-size 48px;
p {
  background: dbffdf;
}
a {
  font-weight: bold;
  color:green
}
ul li a {
  text-decoration: none
}
ul li a: hoover{
  text-decoration: underline;

}
