figure.main-image {
background:PaleVioletRed
border-color:MediumVioletRed
color: #ffffff;
  margin-bottom: 32 px
}
  figure.section-image {
float: right;
margin left: 20px;
margin-bottom 32px;
max width: 320 px;
  }
figure.section-image.odd{
  float right;
  margin-left: 20px;
}
figure.section-image.even{
  float: left;
  margin-right: 20px
}

p img {
float: right;
  max-width: 60%
  margin-left: 20px
  margin-bottom: 32px


      


















