h1 {
  color: blue;
  font-family: verdana;
}

p {
  background: dbffdf;
}
a {
  font-weight: bold;
  color:green
}
ul li a {
  text-decoration: none
}
ul li a: hoover{
  text-decoration: underline;
}